pdffiles/
/includes/config.php
/images/item_images/
/images/logos_thumbnail/
/images/resturant_headers/
/images/resturant_logos/
/images/resturant_bh_banner/
/images/resturant_vip_headers/
.htaccess
/logs/
/c_panel/tempimages/
