<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Favourite Order</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap-theme.css">
    <link type="text/css" rel="stylesheet" href="css/CustomeStyle.css">
   <script src="http:////ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script>
$(document).ready(function(){
						   
	$("#FavouritesDiv").click(function(){
    	$("#YourFavouritePopup").fadeIn() && $('body').addClass('BodyColor');
		$('.Cross').click(function()
			{
				$('#YourFavouritePopup').fadeOut();
				$('body').removeClass('BodyColor');
			});
  	});						   
						   
	$("#LoginPopup").click(function(){
    	$("#CheckinBigDiv").fadeIn() && $("#RegisterBigDiv").fadeOut() && $('body').addClass('BodyColor');
		$('.Cross').click(function()
			{
				$('#CheckinBigDiv').fadeOut();
				$('body').removeClass('BodyColor');
			});
  	});	
	
	$("#RegisterPopup").click(function(){
    	$("#RegisterBigDiv").fadeIn() && $("#CheckinBigDiv").fadeOut() && $('body').addClass('BodyColor');
		$('.Cross').click(function()
			{
				$('#RegisterBigDiv').fadeOut();
				$('body').removeClass('BodyColor');
			});
  	});	
	
	$("#Tab1").click(function(){
    	$("#ContentTab1").fadeIn() && $("#ContentTab2").fadeOut();
  	});	
	$("#Tab2").click(function(){
    	$("#ContentTab2").fadeIn() && $("#ContentTab1").fadeOut();
  	});	
	
	$("#FrontendTab1").click(function(){
		$(this).addClass('BorderTab');	
    	$("#FrontendContentTab1").fadeIn() && $("#FrontendContentTab2").fadeOut();
		$("#FrontendTab2").removeClass('BorderTab');

  	});	
	$("#FrontendTab2").click(function(){
		$(this).addClass('BorderTab');
    	$("#FrontendContentTab2").fadeIn() && $("#FrontendContentTab1").fadeOut();
		$("#FrontendTab1").removeClass('BorderTab');
  	});	

	$("#DeliveryPopup").click(function(){
    	$("#DeliveryPopupDiv").fadeIn();
		$('.Cross').click(function()
			{
				$('#DeliveryPopupDiv').fadeOut();
			});
  	});	
	
	$("#SavingNewFavouriteOrderPopUp").click(function(){
    	$("#SavingNewFavouriteOrder").fadeIn();
		$("#EditNewFavouriteOrder").fadeOut();
		$('.Cross').click(function()
			{
				$('#SavingNewFavouriteOrder').fadeOut();
			});
  	});	
	
	$(".FavouriteItemNameLink").click(function(){
    	$("#EditNewFavouriteOrder").fadeIn();
		$("#SavingNewFavouriteOrder").fadeOut();
		$('.Cross').click(function()
			{
				$('#EditNewFavouriteOrder').fadeOut();
			});
  	});	
	
	$("#DeliveryPopup").click(function(){
    	$("#DeliveryPopupDiv2").fadeIn();
		$('.Cross').click(function()
			{
				$('#DeliveryPopupDiv2').fadeOut();
			});
  	});	
	
	$("#ShowDDLList").click(function(){
    	$("#DDLList").slideToggle();
  	});	
	
});
</script>
  </head> 
  <body ng-app="">
    	<div class="container">
        	<div class="row"><img src="Images/TopBanner.PNG" class="BannerImg"></div>
        </div>
        <div class="container">
        	<div class="row">
            	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ColumnBorder">
                	<div id="AddressText">50 Broad St.<br>New York,NY</div>
                    <div id="TimeDiv">7:00 am - 8:00 pm - Open</div>
                    <div id="ClosedMessage" style="display:none;">Closed (Will Re-Open Tues. 7:00 am)</div>
                    <div id="PhoneText">212 456-7890</div>
                    <div id="SocialButtonsDiv">
                    	<div id="facebookButton"><img src="Images/FbLike.png"></div>
                    	<div id="TwitterButton"><img src="Images/TweetIcon.png"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 ColumnBorder SecondColumnHeight">
                	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center GetOfferImg"><img src="Images/GetOfferIcon.PNG"></div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 GetOfferText text-center"><b>Get 10% Off!</b> Enter #777 below</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 BlackColumnBorder SecondColumnHeight">
                	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right">
                    	<div id="CheckoutLogin"><a href="#" class="CheckoutLogin" id="LoginPopup">Log In</a></div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    	<div id="Seperator">|</div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    	<div id="CheckoutLogout"><a href="#" class="CheckoutLogout" id="RegisterPopup">Regitster</a></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container ContainerPaddingBottom ContainerBgColor MainContentMarginTop">
        	<div class="row">
            	<div id="DeliveryPopupDiv2" style="display: none;">
                		<div id="DeliveryPopupImg">
                    		<div id="CrossButton" style="margin-top: 10px; margin-right: 15px;"><img src="Images/CrossButtonTra.png" class="Cross"></div>
                        	<div id="PleaeEnter">Please enter your delivery address:</div>
                        	<div id="DevliveryFormDiv">
                        		<div id="DeliveryAddressDiv" style="margin-left:0px;">
                                    <div class="DeliveryQuestionWhite">Name*:</div>
                                    <div class="DeliveryTextBox"><input type="text" class="DeliveryText"></div>
                                    <div class="DeliveryQuestionWhite">Street* :</div>
                                    <div class="DeliveryTextBox"><input type="text" class="DeliveryText"></div>
                                    <div class="DeliveryQuestionWhite">Suite/Apt # :</div>
                                    <div class="DeliveryTextBox"><input type="text" class="DeliveryText"></div>
                                    <div class="DeliveryQuestionWhite">Zip Code* :</div>
                                    <div class="DeliveryTextBoxHalf"><input type="text" class="DeliveryTextHalf"></div>
                                    <div class="clear"></div>
                                    <div class="CityStateWhite"><span class="CitySpan">City* :</span><span class="StateSpan">State* :</span></div>
                                    <div class="CityStateText"><span class="CitySpanText"><input type="text" class="CityText"></span><span class="StateSpanText"><input type="text" class="CityText"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div id="CheckoutSubmitOrderDiv" style="padding-top:15px;"><input type="submit" class="CheckoutSubmitOrder" value="Submit" style="width: 130px;"></div>
                    <div id="SadMessageDIv">
                    	<div class="SpanSadImg"><img src="Images/SadImg.png"></div>
                        <div class="SpanSadText"><b>We're sorry!</b> You are outside of our delivery area.<br><a href="#" class="SpanPickUp"><i>Switch to Pick-up?</i></a></div>
                    </div>
                </div>
            	<div id="CheckinBigDiv" style="display:none;">
                	<div id="LoginHeading">Log In</div>
                    <div id="CrossButton" style="margin-top: -10px; margin-right: 20px;"><img src="Images/CrossButton.png" class="Cross"></div>
                    <div id="SaveFavourite">Save Favorite orders, delivery info and so much more.<br>Don’t have any account?  <a href="#" class="RegisterinLine">Register Now!</a></div>
                    <div id="LoginFbGPlusDiv">
                    	<div id="LoginWithFb"><a href="#"><img src="Images/LoginWithFb.png"></a></div>
                        <div id="LoginWithGPlus"><a href="#"><img src="Images/LoginWithGPlus.png"></a></div>
                    </div>
                    <div class="clear"></div>
                    <div id="LoginForm">
                    	<div class="FormLabel">Email* :</div>
                        <div class="FormText"><input type="text" class="TextboxEmail"></div>
                        <div class="FormLabel">Password* :</div>
                        <div class="FormText"><input type="text" class="TextboxEmail"></div>
                        <div id="ForgotPassword"><a href="#" class="ForgotPassword">Forgot Password?</a></div>
                        <div class="clear"></div>
                        <div id="LoginButton"><input type="submit" value="Log In" class="LoginButton"></div>
                    </div>
                    <div id="HrLine"><img src="Images/HrLine.png"></div>
                    <div id="Or">or</div>
                    <div id="ProceedAsGuest"><a href="#" class="ProceedAsGuest" style="float:left">Proceed as a Guest!</a></div>
                </div>
                
                <div id="RegisterBigDiv" style="display:none;">
            		<div id="CrossButton" style="margin-top: 15px; margin-right: 15px;"><img src="Images/CrossButton.png" class="Cross"></div>
                    <div id="LoginHeading" style="margin-top:-5px;">Register</div>
                    <div id="SaveFavourite">Save Favorite orders, delivery info and so much more.</div>
                    <div id="RegisterWithSocialBigDiv">
                    	<div id="RegisterWithFbGPlus">
                        	<div id="RegisterFbDiv"><a href="#"><img src="Images/RegisterWithFb.png"></a></div>
                            <div id="RegisterGPlusDiv"><a href="#"><img src="Images/RegisterWithGPlus.png"></a></div>
                        </div>
                        <div id="RegisterOr">or</div>
                        <div id="RegisterTextBox">
                    <form action="" method="">
                        	<div class="FormLabel">Email* :</div>
                            <div class="FormText"><input type="text" class="TextboxEmail"></div>
                            <div class="FormLabel">Password* :</div>
                            <div class="FormText"><input type="text" class="TextboxEmail"></div>
                        </form></div>
                    </div>
                    <div class="clear"></div>
                    <div id="RegisterButton" style="float:none;"><input type="submit" value="Register" class="RegisterButton"></div>
                    
                    <div id="AlreadyHaveAccount">Already have an account yet? <a href="#" class="RegisterLogin">Log in!</a></div>
           	 	</div>
                <!--Saving Favourite-->
            	<div id="SavingNewFavouriteOrder" style="display:none;">
                	<div id="CrossButton" style="margin-top: 15px; margin-right: 20px;"><img src="Images/CrossButton.png" class="Cross"></div>
                    <div id="NewfavouriteOrder">New Favorite Order</div>
                    <div id="SaveThisOrder">Save this order to make re-ordering even easier!</div>
                    <div id="OrderNameBigDiv">
                    	<div id="OrderName">Order Name* :</div>
                        <div id="OrderTextBox"><input type="text" class="OrderTextBox" /></div>
                    </div>
                    <div id="DeliveryPickUpDiv">
                    	<div id="FavouriteDelivery"><a href="#" class="Delivery">Delivery</a></div>
                        <div id="FavouritePickup"><a href="#" class="Pickup">Pick Up</a></div>
                    </div>
                    <div class="FavouritePopupSeperator"><img src="Images/FavouritePopupSeperator.png"></div>
                    <div id="FavouriteItemList">
                    	<div class="FavouriteItemRow" ng-init="Qty4=1;Price4=4.45">
                        	<span class="SpanFavouriteItemName">Bacon Cheeseburger</span>
                            <span class="SpanFavouriteItemQty"><input type="number" class="FavouriteItemQty" placeholder="1" min="1" ng-model="Qty4" /></span>
                            <span class="SpanFavouriteItemPrice">{{ Qty4 * Price4}}</span>
                            <span class="SpanFavouriteRemove"><a href="#" class="FavouriteRemove">Remove</a></span>
                        </div>
                        <div class="FavouriteItemRow" ng-init="Qty5=1;Price5=2.45">
                        	<span class="SpanFavouriteItemName">Cobb Salad</span>
                            <span class="SpanFavouriteItemQty"><input type="number" class="FavouriteItemQty" placeholder="1" min="1" ng-model="Qty5" /></span>
                            <span class="SpanFavouriteItemPrice">{{ Qty5 * Price5}}</span>
                            <span class="SpanFavouriteRemove"><a href="#" class="FavouriteRemove">Remove</a></span>
                            <span class="SpanExtraStuff">
                            	<span class="SpanExtraIteminFavourite">No Dressing</span>
                            	<span class="ForPersonInFavourite">For: Julie</span>
                            </span>
                        </div>
                        <div class="FavouriteItemRow" ng-init="Qty6=1;Price6=2.45">
                        	<span class="SpanFavouriteItemName">Chef Salad</span>
                            <span class="SpanFavouriteItemQty"><input type="number" class="FavouriteItemQty" placeholder="1" min="1" ng-model="Qty6" /></span>
                            <span class="SpanFavouriteItemPrice">{{ Qty6 * Price6}}</span>
                            <span class="SpanFavouriteRemove"><a href="#" class="FavouriteRemove">Remove</a></span>
                            <span class="SpanExtraStuff">
                            	<span class="SpanExtraIteminFavourite"><i>Extra Croutons</i></span>
                                <span class="SpanDash">-</span>
                                <span class="SpanExtraIteminFavourite"><i>No Tomatoes</i></span>
                            	<span class="ForPersonInFavourite">For: Ray</span>
                            </span>
                        </div>
                    </div>
                    <div class="FavouritePopupSeperator"><img src="Images/FavouritePopupSeperator.png"></div>
                    <div id="TotalDueDiv">
                    	<div id="GraduityDiv">Gratuity :</div>
                        <div id="GraduityTextBoxDiv"><input type="text" class="GraduityTextBox"></div>
                        <div class="TotalRow Width100">
                            <span class="SpanTotalText Underline TotalTextWidth">Sales Tax:</span>
                            <span class="SpanTotalValue Underline"><b>$1.00</b></span>
                        </div>
                        <div class="TotalRow Width100">
                            <span class="SpanTotalText Underline TotalTextWidth">Delivery Charge:</span>
                            <span class="SpanTotalValue Underline"><b>$2.50</b></span>
                        </div>
                        <div class="TotalRow Width100">
                            <span class="SpanTotalText GreenColor Underline TotalTextWidth"><b>Total:</b></span>
                            <span class="SpanTotalValue GreenColor Underline"><b>$20.00</b></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div id="CheckoutSubmitOrderDiv" style="padding-top:25px; width: 165px;">
                    	<input type="submit" class="CheckoutSubmitOrder" value="Add to Favorites" style="padding: 4px 17px !important;" />
                    </div>
                </div>
                <!--Saving Favourite-->
                <!--Edit Favourite-->
                <div id="EditNewFavouriteOrder" style="display:none;">
                	<div id="CrossButton" style="margin-top: 15px; margin-right: 20px;"><img src="Images/CrossButton.png" class="Cross"></div>
                    <div id="OrderNameBigDiv">
                        <div id="OrderTextBox" style="margin-top: 20px;"><input type="text" class="OrderTextBox" placeholder="Date Night"></div>
                    </div>
                    <div id="DeliveryPickUpDiv">
                    	<div id="FavouriteDelivery"><a href="#" class="Delivery">Delivery</a></div>
                        <div id="FavouritePickup"><a href="#" class="Pickup">Pick Up</a></div>
                    </div>
                    <div class="clear"></div>
                    <div id="WeAreSorry">
                    	<span class="SpanSadFace"><img src="Images/SadImg.png"></span>
                        <span class="SpanSadText"><b>We're sorry!</b> You are outside of our delivery area.<br>Switch to Pick-up?</span>
                    </div>
                    <div class="FavouritePopupSeperator"><img src="Images/FavouritePopupSeperator.png"></div>
                    <div id="FavouriteItemList">
                    	<div class="FavouriteItemRow" ng-init="Qty7=1;Price7=4.45">
                        	<span class="SpanFavouriteItemName">Bacon Cheeseburger</span>
                            <span class="SpanFavouriteItemQty"><input type="number" class="FavouriteItemQty" placeholder="1" min="1" ng-model="Qty7"></span>
                            <span class="SpanFavouriteItemPrice">{{ Qty7 * Price7}}</span>
                            <span class="SpanFavouriteRemove"><a href="#" class="FavouriteRemove">Remove</a></span>
                        </div>
                        <div class="FavouriteItemRow" ng-init="Qty8=1;Price8=4.45">
                        	<span class="SpanFavouriteItemName">Cobb Salad</span>
                            <span class="SpanFavouriteItemQty"><input type="number" class="FavouriteItemQty" placeholder="1" min="1" ng-model="Qty8"></span>
                            <span class="SpanFavouriteItemPrice">{{ Qty8 * Price8}}</span>
                            <span class="SpanFavouriteRemove"><a href="#" class="FavouriteRemove">Remove</a></span>
                            <span class="SpanExtraStuff">
                            	<span class="SpanExtraIteminFavourite">No Dressing</span>
                            	<span class="ForPersonInFavourite">For: Julie</span>
                            </span>
                        </div>
                        <div class="FavouriteItemRow" ng-init="Qty9=1;Price9=4.45">
                        	<span class="SpanFavouriteItemName">Chef Salad</span>
                            <span class="SpanFavouriteItemQty"><input type="number" class="FavouriteItemQty" placeholder="1" min="1" ng-model="Qty9"></span>
                            <span class="SpanFavouriteItemPrice">{{ Qty9 * Price9}}</span>
                            <span class="SpanFavouriteRemove"><a href="#" class="FavouriteRemove">Remove</a></span>
                            <span class="SpanExtraStuff">
                            	<span class="SpanExtraIteminFavourite"><i>Extra Croutons</i></span>
                                <span class="SpanDash">-</span>
                                <span class="SpanExtraIteminFavourite"><i>No Tomatoes</i></span>
                            	<span class="ForPersonInFavourite">For: Ray</span>
                            </span>
                        </div>
                    </div>
                    <div class="FavouritePopupSeperator"><img src="Images/FavouritePopupSeperator.png"></div>
                    <div id="TotalDueDiv">
                    	<div id="GraduityDiv">Gratuity :</div>
                        <div id="GraduityTextBoxDiv"><input type="text" class="GraduityTextBox" placeholder="$4.00"></div>
                        <div class="TotalRow Width100">
                            <span class="SpanTotalText Underline TotalTextWidth">Sales Tax:</span>
                            <span class="SpanTotalValue Underline"><b>$1.00</b></span>
                        </div>
                        <div class="TotalRow Width100">
                            <span class="SpanTotalText Underline TotalTextWidth">Delivery Charge:</span>
                            <span class="SpanTotalValue Underline"><b>$2.50</b></span>
                        </div>
                        <div class="TotalRow Width100">
                            <span class="SpanTotalText GreenColor Underline TotalTextWidth"><b>Total:</b></span>
                            <span class="SpanTotalValue GreenColor Underline"><b>$20.00</b></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div id="CheckoutSubmitOrderDiv" style="padding-top:25px; width: 255px;">
                    	<div id="SaveChangesLeftDiv">
                        	<input type="submit" class="CheckoutSubmitOrder" value="Save Changes" style="padding: 4px 17px !important;">
                            <div id="CancelSaveChange"><a href="#" class="CancelSaveChange">Cancel</a></div>
                        </div>
                        <div id="OrderRightDiv">
                        	<input type="submit" class="OrderButton" value="Order!"/>
                        </div>
                    </div>
                </div>
                <!--Edit Favourite-->
                <!--Favourite Orders Popup-->
                <div id="YourFavouritePopup" style="display:none;">
                	<div id="CrossButton" style="margin-top: 15px; margin-right: 20px;"><img src="Images/CrossButton.png" class="Cross"></div>
                    <div id="NewfavouriteOrder" style="padding-bottom: 10px;"><span class="GrayStar"><img src="Images/GrayFavouriteStar.png"></span><span class="YourFavouriteSpan">Your Favorites</span></div>
                    <div class="clear"></div>
                    <div id="InnerWhiteDivFavouriteOrder">
                    	<div id="CenterTableDiv">
                        	<div class="FavouriteListRow">
                            	<div class="FavouriteListRowColumn1">
                                	<div class="FavouriteListRowHeading">Name</div>
                                </div>
                                <div class="FavouriteListRowColumn2">
                                	<div class="FavouriteListRowHeading">Price</div>
                                </div>
                            </div>
                            <div class="FavouriteListRow RowBorder">
                            	<div class="FavouriteListRowColumn1"><a href="#">Date Night</a></div>
                                <div class="FavouriteListRowColumn2">$15.00</div>
                                <div class="FavouriteListRowColumn3"><a href="#">Re-Order</a></div>
                                <div class="FavouriteListRowColumn4"><a href="#">Delete</a></div>
                            </div>
                            <div class="FavouriteListRow RowBorder">
                            	<div class="FavouriteListRowColumn1"><a href="#">Tuesday Lunch</a></div>
                                <div class="FavouriteListRowColumn2">$10.00</div>
                                <div class="FavouriteListRowColumn3"><a href="#">Re-Order</a></div>
                                <div class="FavouriteListRowColumn4"><a href="#">Delete</a></div>
                            </div>
                            <div class="FavouriteListRow RowBorder">
                            	<div class="FavouriteListRowColumn1"><a href="#">My Usual</a></div>
                                <div class="FavouriteListRowColumn2">$17.00</div>
                                <div class="FavouriteListRowColumn3"><a href="#">Re-Order</a></div>
                                <div class="FavouriteListRowColumn4"><a href="#">Delete</a></div>
                            </div>
                            <div class="FavouriteListRow RowBorder">
                            	<div class="FavouriteListRowColumn1"><a href="#">Wings</a></div>
                                <div class="FavouriteListRowColumn2">$5.00</div>
                                <div class="FavouriteListRowColumn3"><a href="#">Re-Order</a></div>
                                <div class="FavouriteListRowColumn4"><a href="#">Delete</a></div>
                            </div>
                            <div class="FavouriteListRow">
                            	<div class="NeedHelpFavourite"><a href="#" class="NeedHelpFavouriteLink">Need Help?</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Favourite Orders Popup-->
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ColumnPaddingRightZero pull-right">
                <!--Shopping Cart-->	
                    <div id="FrontendShippingCartBigDiv">
                	<div id="GroupOrderDiv"><a href="#" class="GroupOrder">Group Order</a></div>
                	<div id="FavouritesDiv"><a href="#" class="Favourites GroupFavouriteActiveLink">Favorites</a></div>
                    <div id="FrontendShippingCartDiv">
                    	<div id="YourOrder">Your Order</div>
                    	<div id="DeliveryDiv" style="margin-top:0px;"><a href="#" class="Delivery" id="DeliveryPopup">Delivery</a></div>
                        <div id="PickupDiv" style="margin-top:0px;"><a href="#" class="Pickup">Pick Up</a></div>
                        <div id="CartItemBigDiv">
                        	<div class="CartSeperator" style="margin-top:0px;"><hr></div>
                            <div id="ItemsHeading">Items</div>
                            <div class="CartItemRow" ng-init="Qty1=1;Price1=4.25">
                            	<div class="SpanSelectCounter"><input type="number" class="FavouriteItemQty" placeholder="1" min="1" ng-model="Qty1"></div>
                            	<div class="SpanItemName">Bacon Cheeseburger</div>
                                <div class="SpanItemPrice">{{ Qty1 * Price1}}</div>
                                <div class="SpanCartEdit"><a href="#" class="Edit">Edit</a></div>
                                <div class="SpanCartRemove"><a href="#" class="Remove">Remove</a></div>
                                <div class="CartItemSeperatorDiv"></div>
                            </div>
                            <div class="CartItemRow" ng-init="Qty2=1;Price2=4.45">
                            	<div class="SpanSelectCounter"><input type="number" class="FavouriteItemQty" placeholder="1" min="1" ng-model="Qty2"></div>
                            	<div class="SpanItemName">Cobb Salad</div>
                                <div class="SpanItemPrice">{{ Qty2 * Price2}}</div>
                                <div class="SpanCartEdit"><a href="#" class="Edit">Edit</a></div>
                                <div class="SpanCartRemove"><a href="#" class="Remove">Remove</a></div>
                                <div class="SpanPolygon" style="margin-left: 45px;">For: Julie</div>
                                <div class="CartItemSeperatorDiv"></div>
                            </div>
                            <div class="CartItemRow" ng-init="Qty3=1;Price3=2.25">
                            	<div class="SpanSelectCounter"><input type="number" class="FavouriteItemQty" placeholder="1" min="1" ng-model="Qty3"></div>
                            	<div class="SpanItemName">Cobb Salad</div>
                                <div class="SpanItemPrice">{{ Qty3 * Price3}}</div>
                                <div class="SpanCartEdit"><a href="#" class="Edit">Edit</a></div>
                                <div class="SpanCartRemove"><a href="#" class="Remove">Remove</a></div>
                                <div class="SpanPolygon" style="margin-left: 45px;">For: Julie</div>
                                <div class="CartItemSeperatorDiv"></div>
                            </div>
                            <div id="CouponsCartDiv">
                            	<div id="CouponsHeading">Coupon</div>
                                <div id="BurgerTextBox"><input type="text" class="BurgerTextBox" placeholder="BURGER"></div>
                                <div id="CartCouponRemove"><a href="#" class="CartCouponRemove">Remove</a></div>
                                <div id="Coupon20"><img src="Images/Coupon20.png"></div>
                                <div id="BuyThreeOffer">Buy 3 Entrees - Get 4th Entree FREE!</div>
                                <div class="CartSeperator"><hr></div>
                            </div>
                            <div id="TotalAmoutDiv" style="margin-left: 40px;">
                            	<div class="TotalRow">
                                	<span class="SpanTotalText">Subtotal:</span>
                                    <span class="SpanTotalValue">$5.00</span>
                                </div>
                                <div class="TotalRow">
                                	<span class="SpanTotalText">Sales Tax:</span>
                                    <span class="SpanTotalValue">$0.75</span>
                                </div>
                                <div class="TotalRow">
                                	<span class="SpanTotalText">Delivery:</span>
                                    <span class="SpanTotalValue">$0.00</span>
                                </div>
                                <div class="TotalRow">
                                	<span class="SpanTotalText">Gratuity:</span>
                                    <span class="SpanTotalValue Grdauity">$2.00</span>
                                </div>
                                <div class="TotalRow">
                                	<span class="SpanTotalText TotalStyle"><b>Total:</b></span>
                                    <span class="SpanTotalValue TotalValueStyle"><b>$5.75</b></span>
                                </div>
                                <div class="ItemSeperator"><hr color="#4b4b4b" class="ItemHr"></div>
                            </div>
                            
                            <div id="SaveThisStar">
                            	<span class="SpanStarImg"><img src="Images/FavouriteStar.png"></span>
                                <span class="SpanStarText"><a class="StarText" id="ShowDDLList">Save this order to favorites</a></span>
                            </div>
                            <div id="DDLList" style="display:none;">
                            	<ul class="UlList">
                                	<li class="LiList"><a href="#">Date Night</a></li>
                                    <li class="LiList"><a href="#">Tuesday Lunch</a></li>
                                    <li class="LiList"><a href="#">My Usual</a></li>
                                    <li class="LiList"><a href="#">Wings</a></li>
                                    <li class="LiList LastLiBold"><a href="#">New Favourite Orders ?</a></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <div id="CheckoutSubmitOrderDiv" style="padding-top:25px;"><input type="submit" class="CheckoutSubmitOrder" value="Place Order" style="padding: 4px 17px !important;"></div>
                            <div id="CancelCart"><a href="#" class="CancelCart" style="text-decoration:underline">Cancel</a></div>
                        </div>
                    </div>
                </div>
                <!--Shopping Cart-->
                <br />
                <!--Shopping Cart Favourite Orders-->
                <div id="FavouriteShippingCartBigDiv">
                	<div id="GroupOrderDiv"><a href="#" class="GroupOrder">Group Order</a></div>
                	<div id="FavouritesDiv"><a href="#" class="Favourites GroupFavouriteActiveLink">Favorites</a></div>
                    <div id="FrontendShippingCartDiv">
                    	<div id="YourOrder">Your Favorites</div>
                        <div id="CartItemBigDiv">
                        	<div class="CartSeperator" style="margin-top:0px;"><hr></div>
                            <div id="YourFavouriteItemsBigDiv">
                            	<div class="YourFavouriteHeadingName">Name</div>
                                <div class="YourFavouriteHeadingName">Price</div>
                                <div class="CartItemRow">
                                	<div class="FavouriteItemName"><a href="#" class="FavouriteItemNameLink">Date Night</a></div>
                                    <div class="FavouriteItemPrice">$15.00</div>
                                    <div class="FavouriteReOrder"><a href="#" class="FavouriteReOrderLink">Re-Order</a></div>
                                    <div class="FavouriteDeleteOrder"><a href="#" class="FavouriteDeleteOrderLink">Delete</a></div>
                                    <div class="CartItemSeperatorDiv"></div>
                                </div>
                                <div class="CartItemRow">
                                	<div class="FavouriteItemName"><a href="#" class="FavouriteItemNameLink">Tuesday Lunch</a></div>
                                    <div class="FavouriteItemPrice">$10.00</div>
                                    <div class="FavouriteReOrder"><a href="#" class="FavouriteReOrderLink">Re-Order</a></div>
                                    <div class="FavouriteDeleteOrder"><a href="#" class="FavouriteDeleteOrderLink">Delete</a></div>
                                    <div class="CartItemSeperatorDiv"></div>
                                </div>
                                <div class="CartItemRow">
                                	<div class="FavouriteItemName"><a href="#" class="FavouriteItemNameLink">My Usual</a></div>
                                    <div class="FavouriteItemPrice">$17.00</div>
                                    <div class="FavouriteReOrder"><a href="#" class="FavouriteReOrderLink">Re-Order</a></div>
                                    <div class="FavouriteDeleteOrder"><a href="#" class="FavouriteDeleteOrderLink">Delete</a></div>
                                    <div class="CartItemSeperatorDiv"></div>
                                </div>
                                <div class="CartItemRow">
                                	<div class="FavouriteItemName"><a href="#" class="FavouriteItemNameLink">Wings</a></div>
                                    <div class="FavouriteItemPrice">$5.50</div>
                                    <div class="FavouriteReOrder"><a href="#" class="FavouriteReOrderLink">Re-Order</a></div>
                                    <div class="FavouriteDeleteOrder"><a href="#" class="FavouriteDeleteOrderLink">Delete</a></div>
                                    <div class="CartItemSeperatorDiv"></div>
                                </div>
                            </div>
                            <div id="AddNewFavourite"><a href="#" class="AddNewFavourite" id="SavingNewFavouriteOrderPopUp">+ Add New</a></div>
                            <div id="NeedHelp"><a href="#" class="NeedHelpLink">Need Help?</a></div>
                            <div class="clear"></div>
                            <div id="CheckoutSubmitOrderDiv" style="padding-top:25px; width: 140px;">
                            	<a href="#" class="CheckoutSubmitOrder" style="float:left;">
                                	<span class="SpanBackPlygon"><img src="Images/BackPolygon.png"></span>
                                    <span class="SpanBackToCart">Back to Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Shopping Cart Favourite Orders-->
                </div>
            </div>
        </div>
        <footer>
        <div class="container FooterBgColor FooterMarginBottom FooterPaddingBottom">
        	<div class="row">
            	<div class="col-lg-12">    
                	<div id="PoweredBy"><img src="Images/PoweredBy.png"></div>
                    <div id="FooterLinksBigDiv">
                	<div class="FooterLinksLi"><a href="#" class="FooterLinks">Terms &amp; Conditions &nbsp;</a></div>
                    <div class="FooterLinksLi"><a href="#" class="FooterLinks">| Privacy &nbsp;</a></div>
                    <div class="FooterLinksLi"><a href="#" class="FooterLinks">| Refund Policy</a></div>
                </div>
                </div>
            </div>
        </div>
        </footer>
  
  
  
  
  
  
  
  
  
  
  
  
  </body>  
</html>
    